<div class="container">

<form [formGroup]="EditCustomerForm" (submit)="onEditSubmit()" class="container">
  <div>
    <label>Customer Name</label>
    <input formControlName="customer_name" class="form-control" type="text"><br>

    <label>Customer MobileNo</label>
    <input formControlName="customer_mobileno" class="form-control" type="text" minlength="10" maxlength="10"><br>

    <label>Customer Address</label>
    <input formControlName="customer_address" class="form-control" type="text"><br>

    <label>Customer Email</label>
    <input formControlName="fk_user_email" class="form-control" type="text"><br>
  </div>

  <div>
    <button class="btn btn-primary">Update</button> |
    <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
  </div>
</form>
</div>
