<h6> Name:</h6><h1 style="color: darkblue;">{{book_name | titlecase}}</h1>
<h6>Desc:</h6><p style="color: darkblue;">{{book_description | titlecase}}</p>
<h6>Price:</h6><h1 style="color:darkblue;">{{product_price | currency:'INR' }}</h1><h6> Name:</h6><h1 style="color: darkblue;">{{book_name | titlecase}}</h1>
<h6>Qty:</h6><p style="color: darkblue;">{{product_qty}}</p>
<h6>Publication:</h6><h1 style="color:darkblue;">{{book_publication}}</h1>
<h6>Standard:</h6><h1 style="color: darkblue;">{{standard}}</h1>
<h6>Description:</h6><h1 style="color:darkblue;">{{book_description}}</h1>
<img src="http://localhost:3000/{{book_img}}" height="130" width="130">
