<h1>Book Details</h1>
<p>Book-Id : {{book_id}}</p>
<p>Book-Name : {{book_name}}</p>
<p>Book-Price : {{product_price}}</p>
<p>Book-Quantity : {{product_qty}}</p>
<p>Book-Description : {{book_description}}</p>
<p>Book-Category : {{fk_cat_id}}</p>
<p>Book-Publication : {{book_publication}}</p>
<p>Book-Standard : {{standard}}</p>
<p>Book-Image : </p>
<img src="http://localhost:3000/{{book_img}}" height="130" width="130">

<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
</div>
