<form [formGroup]="EmployeeEditForm" (ngSubmit)="onEmployeeEdit()" class="container">
  <mat-form-field>
    <input matInput placeholder="Enter Name" formControlName="employee_name"  >
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter Mobile No" formControlName="employee_mobileno"  >
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter Salary" formControlName="employee_salary"  >
  </mat-form-field>
  <br>

    <button type="submit" mat-button color="primary" >UPDATE</button>
</form>
