<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<ng-container matColumnDef="password">
  <button (click)="onPurchaseAdd()" mat-raised-button color="primary" aria-label="Example icon-button with a heart icon">
  Add Purchase  <mat-icon>add</mat-icon>
  </button>
</ng-container><br><br>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="purchase_price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Purchase Price </th>
    <td mat-cell *matCellDef="let row"> {{row.purchase_price | currency:'INR'}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
    </ng-container> -->

    <ng-container matColumnDef="product_name">
      <th mat-header-cell *matHeaderCellDef> Product Name </th>
      <td mat-cell *matCellDef="let row"> {{row.product_name}} </td>
    </ng-container>

    <ng-container matColumnDef="supplier_name">
      <th mat-header-cell *matHeaderCellDef> Supplier Name </th>
      <td mat-cell *matCellDef="let row"> {{row.supplier_name}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let row">
        <button (click)="onDeletePurchase(row)" mat-mini-fab color="primary"
          aria-label="Example icon-button with a heart icon">
          <mat-icon>delete</mat-icon>
        </button>
        <button (click)="onEditPurchase(row.purchase_id)" mat-mini-fab color="primary"
          aria-label="Example icon-button with a heart icon">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="onViewMore(row)" mat-mini-fab color="primary"
          aria-label="Example icon-button with a heart icon">
          <mat-icon>scatter_plot</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
