<body style="background-color: darkgray;">
<form >
<div class="MAIN">
  <div style="color: crimson;">
    <h1>Forgotten Password??</h1>
  </div>
  <br>
  <mat-label > Email</mat-label><br>
  <input class="form-control" #Address type="email" placeholder="Enter your email address to send link" value="kashishshahr@gmail.com">
  <br>
  <button style="position: relative;left: 150px;width: 80px;" (click)="onDoneClick(Address.value)" color="primary"mat-raised-button>Done</button><br><br>

  <!-- <button style="position: relative;left: 150px;width: 120px;" (click)="onOTPClick(Address.value)" color="danger" mat-raised-button>Done Via Otp</button><br><br> -->
  <button style="position: relative;left: 150px;width: 80px;" (click)="onCancelClick()" color="warn"mat-raised-button>Cancel</button>
</div>
</form>
</body>
