
  <div class="container">

    <form [formGroup]="addEmpForm" (ngSubmit)="onAddEmp()">

      <div class="form-group">
        <input class="form-control" formControlName="user_email" placeholder="Enter Your Email">
        <label class="alert alert-danger" *ngIf="addEmpForm.get('user_email').hasError('required') && !addEmpForm.get('user_email').pristine" >Email is required</label>
        <label class="alert alert-danger" *ngIf="addEmpForm.get('user_email').hasError('email') && !addEmpForm.get('user_email').pristine" >Email is Invalid</label>
      </div>
      <div formGroupName="password_group" class="form-group" >
        <input class="form-control" type="password" placeholder="Enter Password" formControlName="user_password"  ><br>
        <input class="form-control" type="password" placeholder="Enter confirm Password" formControlName="user_confirm_password" >
        <label class="alert alert-danger" *ngIf="addEmpForm.get('password_group').hasError('PasswordMatch')">Both password and confirm password should be same.</label>
        <label class="alert alert-danger" *ngIf="addEmpForm.get('password_group').get('user_password').hasError('minlength')">Password > 5</label>

      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter Employee Name" formControlName="employee_name">
        <label  class="alert alert-danger" *ngIf="addEmpForm.get('employee_name').hasError('required') && !addEmpForm.get('employee_name').pristine" >Name is required</label >
        <label class="alert alert-danger" *ngIf="addEmpForm.get('employee_name').hasError('minlength') && !addEmpForm.get('employee_name').pristine" >Name shoul be > 5</label>
        <label class="alert alert-danger" *ngIf="addEmpForm.get('employee_name').hasError('pattern') && !addEmpForm.get('employee_name').pristine" > Only Chars</label>
      </div>
<div class="form-group" class="radio">
  <input type="radio" name="employee_gender" value="male" formControlName="employee_gender" >Male
  <input type="radio" name="employee_gender" value="female" formControlName="employee_gender" >Female
  <label class="alert alert-danger" *ngIf="addEmpForm.get('employee_gender').hasError('required') && !addEmpForm.get('employee_gender').pristine">Gender
    is required</label>
</div>
      <div class="form-group">
        +91 &nbsp; <input style="width: auto;" maxlength="10" type="text" class="form-control" placeholder="Enter Employee Mobile" formControlName="employee_mobileno">
        <label class="alert alert-danger" *ngIf="addEmpForm.get('employee_mobileno').hasError('required') && !addEmpForm.get('employee_mobileno').pristine" >mobile no is required</label>
        <label class="alert alert-danger" *ngIf="addEmpForm.get('employee_mobileno').hasError('maxlength')" >only 10 digits</label>
        <label class="alert alert-danger" *ngIf="addEmpForm.get('employee_mobileno').hasError('minlength')">only 10
          digits</label>
        <label class="alert alert-danger" *ngIf="addEmpForm.get('employee_mobileno').hasError('pattern') " > Only digits</label>

      </div>
      <div class="form-group">
        <input type="number" class="form-control" placeholder="Enter Employee Salary" formControlName="employee_salary">
        <label class="alert alert-danger" *ngIf="addEmpForm.get('employee_salary').hasError('required') && !addEmpForm.get('employee_salary').pristine">Salary is required</label>
      </div>

          <div class="form-group">
            <button [disabled]="!addEmpForm.valid" type="submit" class="btn btn-primary">Add Employee</button> |
            <button (click)="onClick()" type="submit" class="btn btn-primary">Cancel</button>

       </div>
  </form>
  </div>
