<form #f="ngForm" (submit)="onSubmit(f)">

  <input ngModel class="form-control" #p_name1 name="product_name" type="string" placeholder="Enter name"><br>
  <input ngModel class="form-control" #p_price1 name="product_price" type="number" placeholder="Enter price"><br>
  <input ngModel class="form-control" #p_qty1 name="product_qty" type="number" placeholder="Enter qty"><br>
  <input ngModel class="form-control" #p_mfg name="product_mfg" type="date" placeholder="Enter mfg"><br>
  <select ngModel #cat name="fk_cat_id">
    <option *ngFor="let item of catArr" [value]="item.category_id">{{item.category_name}}</option>
  </select><br><br>

  <input style="height: 80px;" ngModel class="form-control" #p_desc1 name="product_desc" type="text"
    placeholder="Enter Desc"><br>
  <input type="file" name="product_img" #p_img1 ngModel (change)="onChange($event)">
  <br>
  <br>
  <button class="btn btn-primary" type="submit">Add</button> |
  <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
</form>
<form>

</form>
