<div class="container">

  <form [formGroup]="EditProductForm" (submit)="onSubmit()" class="container">

    <div class="form-group">
      <mat-label>Product Name</mat-label>
      <input formControlName="product_name" class="form-control" type="string">
    </div><br>

    <div>
      <mat-label>Product Category</mat-label><br>
      <select formControlName="fk_cat_id">
        <option *ngFor="let item of CategoryDataArr" [value]="item.category_id">
          {{item.category_name}}</option>
      </select>
    </div><br>

    <div>
      <mat-label>Product Price</mat-label>
      <input formControlName="product_price" class="form-control" type="number">
    </div><br>

    <div>
      <mat-label>Product Quantity</mat-label>
      <input formControlName="product_qty" class="form-control" type="number">
    </div><br>

    <div>
      <mat-label>Product MFG</mat-label>
      <input formControlName="product_mfg" class="form-control" type="text">
    </div><br>

    <div>
      <mat-label>Product Desc</mat-label>
      <input formControlName="product_desc" class="form-control" type="text">
    </div><br>

    <div>
      <img mat-card-image width="150" height="150" src="{{producturl}}"><br>
      <input type="file" name="pic" (change)="onChange($event)">
    </div>
    <br><br>

    <div>
      <button class="btn btn-primary" type="submit">Save</button> |
      <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>


