.example-container {
  height: 400px;
  width: 550px;
  overflow: scroll;
}
table {
  width: 100%;
}
/* th {
  font-size: large;
  color: maroon;
  border-bottom: solid black;
}
hr.new1 {
  border-top: 10px solid red;
  border-radius: 5px;
  width: 80%;
} */

/* .mat-form-field {
  font-size: 14px;
  width: 100%;
} */

/* td,
th {
  width: 35%;
}
div.sign {
  position: relative;
  top: 100px;
  left: 300px;
}
.left {
  justify-content: left;
  align-items: left;
} */

