<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>


      <a mat-list-item routerLink="/nav/HomePage">Home</a>

      <a mat-list-item routerLink='/nav/cart'>Cart</a>
      <a mat-list-item routerLink='/nav/categories'>Category</a>
      <a mat-list-item routerLink="/nav/productList">Product management</a>
      <!-- <a mat-list-item routerLink="/nav/MyProfile">My Profile</a> -->
      <a mat-list-item routerLink="/nav/users">User management</a>
      <a mat-list-item routerLink="/nav/supplier">Supplier</a>
      <a mat-list-item routerLink="/nav/purchase">Purchase</a>
      <a mat-list-item routerLink="/nav/orders">Order management</a>
      <a mat-list-item routerLink="/nav/EditUserData">Edit Your Password</a>

      <a mat-list-item routerLink="/nav/order_details">Order Details</a>
      <a mat-list-item routerLink="/nav/order_deliveries">Order Delivery</a>
      <a mat-list-item (click)="onLogOut()">Log Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>wbns,Welcome {{user_email | uppercase}}</span>

    </mat-toolbar>
    <div>
  <div  style="width:220px;height:120px;border:1px solid white ">
    <img src="http://localhost:3000/images/logo.png" alt="Smiley face" height="100" width="200">
  </div>
    <hr class="new1">
  </div>
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
