<div *ngIf="cart_arr.length<1">
  <img src="./../../assets/Loader.gif">
</div>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<!-- <ng-container matColumnDef="AddAction">
  <button (click)="onCartAdd()" mat-raised-button color="primary" aria-label="Example icon-button with a heart icon">
    Add in Cart<mat-icon>add</mat-icon>
  </button>
</ng-container> -->

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

     <ng-container matColumnDef="fk_user_email">
      <th mat-header-cell *matHeaderCellDef>User Email </th>
      <td mat-cell *matCellDef="let row"> {{row.user_email }} </td>
    </ng-container>


    <ng-container matColumnDef="product_name">
      <th mat-header-cell *matHeaderCellDef> Product Name </th>
      <td mat-cell *matCellDef="let row"> {{row.product_name | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let row">
        <button (click)="onDelete(row)" mat-mini-fab color="primary" >
          <mat-icon>delete</mat-icon>
        </button>
        <button (click)="openDialog(row)" mat-mini-fab color="primary" >
          <mat-icon>scatter_plot</mat-icon>
        </button>
        <!-- <button mat-mini-fab color="primary" aria-label="Example icon-button with a heart icon">
          <mat-icon>edit</mat-icon>
        </button> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 1, 25, 100]"></mat-paginator>
</div>
