<form [formGroup]="SupplierUpdateForm" (ngSubmit)="onSupplierEdit()" class="container">
  <div class="form-group">
    <mat-label>Name</mat-label><br>
    <input class="form-control" placeholder="Enter Name" formControlName="supplier_name">
  </div>

  <div class="form-group">
    <mat-label>Email</mat-label><br>
    <input class="form-control" placeholder="Enter Email" formControlName="supplier_email">
  </div>

  <div class="form-group">
    <mat-label>Mobile No</mat-label><br>
    <input class="form-control" placeholder="Enter Mobile No" formControlName="supplier_mobileno">
  </div>

  <div class="form-group">
    <mat-label>Address</mat-label><br>
    <input class="form-control" placeholder="Enter Address" formControlName="supplier_address">
  </div>

  <div class="form-group">
    <mat-label>Description</mat-label><br>
    <input class="form-control" placeholder="Enter Description" formControlName="supplier_desc">
  </div>

  <div>
    <button type="submit" class="btn btn-primary">UPDATE</button> |
    <button (click)="onCancel()" class="btn btn-primary">CANCEL</button>
  </div>
</form>
