<form [formGroup]="SupplierUpdateForm" (ngSubmit)="onSupplierEdit()" class="container">
  <mat-form-field>
    <input matInput placeholder="Enter Name" formControlName="supplier_name"  >
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter Mobile No" formControlName="supplier_mobileno"  >
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter Address" formControlName="supplier_address"  >
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter Description" formControlName="supplier_desc">
  </mat-form-field>
  <br>

    <button type="submit" mat-button color="primary" >UPDATE</button>
    <button (click)="onCancel()" mat-button color="primary" >CANCEL</button>
</form>
