<div class="grid-container">

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-blue order-card">
          <div class="card-block">
            <h6 class="m-b-20">Today's Orders</h6>
            <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>{{TodaysOrder}}</span></h2>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-yellow order-card">
          <div class="card-block">
            <h6 class="m-b-20">Total Customers</h6>
            <h2 class="text-right"><i class="fa fa-users f-left"></i><span>{{customerCount}}</span></h2>

          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-grid-list cols="2" rowHeight="500px">
    <mat-grid-tile colspan="2" rowspan="1" class="mail">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Order Data of 2020
            <!-- <select (change)="onYearChange($event.target.value)">
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option></select> -->
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <kendo-chart>
              <kendo-chart-title text="Order data">

</kendo-chart-title>
              <kendo-chart-category-axis>
                <kendo-chart-category-axis-item [categories]="['JAN','FEB','MAR','Apr','May','Jun','JULY','AUG','SEP','OCT','NOV','DEC']" [title]="{ text: 'Months' }">
                </kendo-chart-category-axis-item>
              </kendo-chart-category-axis>
              <kendo-chart-series>
                <kendo-chart-series-item type="area" [data]="orderData">
                </kendo-chart-series-item>

              </kendo-chart-series>
            </kendo-chart>

          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <hr />
  <mat-grid-list cols="2" rowHeight="500px">
    <mat-grid-tile colspan="1" rowspan="1" class="mail">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Pie Chart
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <kendo-chart title="Status">
              <kendo-chart-legend position="bottom"></kendo-chart-legend>
              <kendo-chart-series>
                <kendo-chart-series-item  type="pie" [data]="pieData" field="value" categoryField="category"
                  [labels]="{ visible: true, content: labelContent1 }">
                </kendo-chart-series-item>
              </kendo-chart-series>
            </kendo-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" class="mail">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Ratio
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div id="chart">
            <kendo-chart>
              <kendo-chart-title text="Customer Ratio"></kendo-chart-title>
              <kendo-chart-category-axis>
                <kendo-chart-category-axis-item [categories]="type">
                </kendo-chart-category-axis-item>
              </kendo-chart-category-axis>
              <kendo-chart-series>
                <kendo-chart-series-item type="bar" [data]="c">
                </kendo-chart-series-item>
              </kendo-chart-series>
            </kendo-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <hr />
  <mat-grid-list cols="2" rowHeight="500px">
    <mat-grid-tile colspan="2" rowspan="1" class="mail">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Top 10 Selling Products
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div >
            <mat-form-field id="search">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Record Here">
            </mat-form-field>
            <mat-icon>search</mat-icon>
            <div class="mat-elevation-z8">
              <table style="width: 100%;" mat-table [dataSource]="dataSource" matSort>



                <ng-container matColumnDef="fk_pro_id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Id</th>
                  <td mat-cell *matCellDef="let row"> {{row.fk_product_id}} </td>
                </ng-container>
                <ng-container matColumnDef="pro_name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
                  <td mat-cell *matCellDef="let row"> {{row.product_name}} </td>
                </ng-container>
                <ng-container matColumnDef="total">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Orders</th>
                  <td mat-cell *matCellDef="let row"> {{row.total}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
  <hr />
</div>

