<div class="container">

  <form [formGroup]="orderEditForm" (ngSubmit)="onOrderEdit()">

    <select formControlName="fk_employee_id">
      <option *ngFor="let item of employee_data" [value]="item.employee_id">
        {{item.employee_name}}
      <option>
    </select>

    <div class="form-group">
      <input class="form-control" type="date" placeholder="Enter Date" formControlName="delivery_date">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Edit Order</button> |
      <button (click)="OnCancel()" class="btn btn-primary">Cancel</button>
    </div>
  </form>
</div>
