<!-- <div *ngIf="dataSource.data.length<1">
  <img src="./../../assets/Loader.gif">
</div> -->
<div>
  <div  style="width:220px;height:120px;border:1px solid white ">
    <img src="http://localhost:3000/images/logo.png" alt="Smiley face" height="100" width="200">
  </div>
    <hr class="new1">
  </div>

<body>
  Total Orders processing or done:
<div  style="width: 50px;height: 50px;background-color:floralwhite; border:1px solid black;">

  {{this.oc}}<br>
</div>
  Total pending : <div  style="width: 50px;height: 50px;background-color:floralwhite; border:1px solid black;">

    {{this.poc}}<br>
  </div>
  Total Orders done:<div  style="width: 50px;height: 50px;background-color:floralwhite; border:1px solid black;">

    {{this.doc}}<br>
  </div>

</body>
