<h2 style="color:crimson;">Order Table Details</h2>
<h5> Customer Name:</h5>
<p style="color: darkblue;">{{customer_name}}</p>
<h5> Employee Name:</h5>
<p style="color: darkblue;">{{employee_name}}</p>
<h5> Product Name:</h5>
<p style="color: darkblue;">{{product_name}}</p>
<h5> Price:</h5>
<p style="color: darkblue;">{{product_price | currency:'INR'}}</p>
<h5> Quanty:</h5>
<p style="color: darkblue;">{{product_qty | currency:'INR'}}</p>
<h5> Amount:</h5>
<p style="color: darkblue;">{{order_amount | currency:'INR'}}</p>
<h5> Status:</h5>
<p style="color: darkblue;">{{order_status | titlecase}}</p>
<h5> Date:</h5>
<p style="color: darkblue;">{{order_date | date}}</p>
<button type="button" class="btn btn-primary" (click)="onCancel()">Cancel</button>
