<body>
  <div class="container">

    <form [formGroup]="addOrderForm" (ngSubmit)="onAddOrder()">

      <h1>Order Add</h1>
      <div class="form-group">
        <input type="number" class="form-control" placeholder="Enter Order Amount" formControlName="order_amount">
      </div>
      <div class="form-group">
        <input type="date" class="form-control" placeholder="Enter Order date" formControlName="order_date">
      </div>
      <select class="form-control" formControlName="order_status">
        <option>Done</option>
        <option>Pending</option>
      </select>

      <!-- <select formControlName="fk_customer_id">
        <option *ngFor="let item of customer_data" [value]="item.customer_id">
          {{item.customer_name}}
        </option>
      </select> -->

      <br>
      <div class="form-group">
        <button [disabled]="!addOrderForm.valid" type="submit" class="btn btn-primary">ADD</button>
        <button (click)="onClick()" type="submit" class="btn btn-primary">Cancel</button>
      </div>
    </form>
  </div>
</body>
