<form [formGroup]="CategoryUpdateForm" (ngSubmit)="onCategoryEdit()" class="container">
  <div class="form-group">
    <mat-label>Name</mat-label><br>
    <input class="form-control" placeholder="Enter Name" formControlName="category_name" type="text">
    <label class="alert alert-danger" *ngIf="CategoryUpdateForm.get('category_name').hasError('required') && !CategoryUpdateForm.get('category_name').pristine">Required</label>
    <label class="alert alert-danger" *ngIf="CategoryUpdateForm.get('category_name').hasError('pattern') ">Use only alphabets and digits</label>
  </div>
  <br>
  <div>
    <img mat-card-image width="150" height="150" src="{{producturl}}"><br>
    <input type="file" name="pic" (change)="onChange($event)">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Update</button> |
  <button type="button" class="btn btn-primary" (click)="onCancel()">Cancel</button>
</form>
